
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(46, 161, 94);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(238, 231, 231);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#slider{
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
}

#slider input [type=radio]{
    display: none;

}
#slider label{
    cursor: pointer;
    text-decoration: none;
}
#slides{
    padding: 30px;
    border: 3px
}