html{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #7FFFD4,#F8F8FF);
    background-image: url(../img/Dimensões\ personalizadas\ 1420x681\ px.jpeg);
    background-attachment: fixed;
    Background-size:cover;

  
    
}

.j1{
    text-align: top;
    position: fixed;

}

.nav{
    height: 82px;

}

ul{
    margin: 100px ;
    width: 800px;
    height: 100px;
    list-style: none;
    background: rgba(0,0,0,0.2)
}

li{
    margin-top: 26px;
    display: inline-block;

}

li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    transition: 0.5s;
    padding: 24px 30px;
   
}

li a:hover{
    transition: 0.5s;
    color: black;
    background: rgba(255,255,255,0.7);

}

.fundo{
    background-position: right;
    background-size: cover;
    text-align: right;

}

