<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Mr.Soft Sistemas</title>
    <link rel="stylesheet" type="text/css" href="static/css/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="j1">
        <ul class="nav">
            <li><a href="{{url_for('homepage')}}">Inicio</a></li>
            <li><a href="{{url_for('produtos')}}">Produtos</a></li>
            <li><a href="{{url_for('contato')}}">Contato</a></li>
            <li><a href="{{url_for('sobre')}}">Sobre</a></li>
        </ul>
    </div>

    
    <div class="fundo">
        <img src="../static/img/mrsoft-depositphotos-bgremover-depositphotos-bgremover(1).png" alt="">
    </div>



</body>
</html>