<!DOCTYPE html>
<html>
<title>Mr.Soft Sistemas</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="static\img\favicon.ico" />
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: 'Gugi', cursive; font-size:16px;}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: right;
  background-size: cover;
  background-image: url('/static/img/fundo.png');
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>

<div class="w3-top">
    <div class="w3-bar w3-black w3-card" id="myNavbar">
      <div class="w3-right w3-hide-small">
        <a href="{{ url_for('homepage') }}" class="w3-bar-item w3-button"><i class="fa fa-diamond"></i> Voltar ao Incio</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
  
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>


<body>

<!-- add the right css file -->
{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}


<!-- here we add our contact forms -->
{% block content %}
<div class="contact ,">
    <div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
        <h3 class="w3-center">Fale Conosco</h3>
        <p class="w3-center w3-large">Gostaria de saber mais sobre as nossas soluções? Teremos o prazer de lhe atender. </p>
        
        <!-- Just here i use "url_for" to call the function get_contact.
         This function return the html code of our contact page-->
    <form class="w3-container w3-light-grey" action="{{ url_for('get_contact') }}" method=post>
        <div class="w3-container w3-light-grey">
            <!-- name forms -->
            <p>
                {{ form.name.label }} <br>
                {{ form.name(placeholder='Seu Nome') }}
            </p>
            <!-- email forms -->
            <p>
                {{ form.email.label }} <br>
                {{ form.email(placeholder='Seu Email ...') }}
            </p>
            <!-- Subject of your request -->
            <p>
                {{ form.subject.label }}<br>
                {{form.subject(placeholder='Assunto...')}}
            </p>
            <!-- Content of your request -->
            <p>
                {{ form.message.label }}<br>
                {{ form.message(placeholder='Escreva a sua Solicitação ...') }}
            </p>
            <!-- Submit button -->
            <p>
                {{ form.submit }}
            </p>
        </div>
    </form>
</div>
{% endblock %}

</header>

    <div style="margin-top:48px">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Avenida Joaquim Nelson, 3585 - Edifício Adelaide, Parque Ideal - Teresina-PI.</p>
      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Telefone/Whatsapp: +55 8698877-6655</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mrsoftsistemas@gmail.com</p>
      <br>

      <div style="overflow:hidden;width: 1235px;position: relative;"><iframe width="1235" height="440" src="https://maps.google.com/maps?width=1235&amp;height=440&amp;hl=en&amp;q=Av.%20Joaquim%20Nelson%2C%203585%20-%20Redonda%2C%20Teresina%20-%20PI%2C%2064076-800+(Edif%C3%ADcio%20Adelaide%20de%20Freitas)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="https://embedgooglemaps.com/it/">embedgooglemaps IT</a> & <a href="https://xn--casinoutanspelgrnser-qzb.nu/">casino utan gränser</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
</html>