<!DOCTYPE html>
<html>
<head>
<title>Mr.Soft Sistemas</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="facebook-domain-verification" content="2oh99wt4w1t0kkp1y04pj6k1qxforc" />

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Economica&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Economica&family=Oswald:wght@200&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="static\img\favicon.ico" />
</head>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: 'Arial', sans-serif; font-size:16px;}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position:right;
  background-size: cover;
  background-image: url('/static/img/fundo.png');
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="navbar fixed-top navbar-expand-sm w3-black">
    
    <div class="w3-bar w3-black w3-card" id="myNavbar">
      <a href="https://servidorseguro.mysuite2.com.br/client/login.php?sl=mrsf" class="w3-bar-item w3-button"><i class="fa fa-comments"></i> Atendimento</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="#segmentos" class="w3-bar-item w3-button"><i class="fa fa-cogs"></i></i> Segmentos</a>
        <a href="#sistemas" class="w3-bar-item w3-button"><i class="fa fa-tv"></i> Sistemas</a>
        <a href="#sobre" class="w3-bar-item w3-button"><i class="fa fa-group"></i> Sobre Nós</a>
        <a href="{{ url_for('get_contact') }}" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Fale Conosco</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#segmentos" class="w3-bar-item w3-button"><i class="fa fa-cogs"></i></i> Segmentos</a>
  <a href="#sistemas" class="w3-bar-item w3-button"><i class="fa fa-tv"></i> Sistemas</a>
  <a href="#sobre" class="w3-bar-item w3-button"><i class="fa fa-group"></i> Sobre Nós</a>
  <a href="{{ url_for('get_contact') }}" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Fale Conosco</a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  
  <div class="w3-half w3-padding-large w3-hide-small w3-display-left w3-text-black m-5" style="padding:36px">
    <span class="w3-jumbo  w3-hide-small espacamento"> Automação Comercial para o seu estabelecimento</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Automação Comercial para o seu estabelecimento</span><br>
    <span class="w3-large">Não perca tempo, venha conhecer as nossas soluções!</span>
    <p><a href="#segmentos" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Veja agora as nossas soluções! </a></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
      <a class="fa fa-instagram w3-hover-opacity semsubline" href="https://www.instagram.com/mrsoftsistemas/" target="_blank"></a>
      
    </div>
  </div> 
  
 
</header>

<!-- segmentos Section -->

<div class="w3-container" style="padding:128px 16px" id="segmentos">
  <h1 class="w3-center w3-jumbo w3-hide-small" > Segmentos</h1>
  <p class="w3-center w3-large">Temos soluções para atender o seu estabelecimento</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-shopping-cart w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Supermercados e Mercadinhos</p>
      <p>Atendemos o seu estabelecimento com um sistema de gestão e venda completo.</p>
    </div>
    <div class="w3-quarter">
      <i class='fa fa-bus w3-margin-bottom w3-jumbo w3-center'></i>
      <p class="w3-large">Postos de Combustíveis</p>
      <p>Temos uma solução com controle de mesas e emissão de comandas</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-coffee w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Bares e Restaurantes</p>
      <p>Controle e monitoramento de vendas e combustíveis de acordo com as normas da ANP</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-line-chart w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Varejo em Geral</p>
      <p>Controle e monitoramento de vendas e combustíveis de acordo com as normas da ANP</p>
    </div>
  </div>
</div>

<!-- Sistemas Section -->
<div class="w3-container" style="padding:128px 16px" id="sistemas">
  <h1 class="w3-center w3-jumbo w3-hide-small" >Sistemas</h1>
  <p class="w3-center w3-large">Soluções empresariais completas para o seu estabelecimento</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="card-group">
      <div class="card">
        <img src="/static/img/syspdv.jpg" style="width: 100%;" height="300px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SysPDV</h5>
          <p class="card-text">Gerenciamento de Supermercados</p>
          <p>SysPDV é o sistema de vendas e gestão para quem deseja reduzir o esforço operacional, controlar vendas e começar a emitir cupom fiscal.</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p><a class="w3-button w3-light-grey w3-block" href="http://syspdv.com.br" target="_blank"><i class="fa fa-link"></i> Visite o site</link></a></p>
        </div>
      </div>
      <div class="card">
        <img src="/static/img/easyassit.png" style="width: 100%;" height="300px" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="">Easyassist</h3>
          <p class="w3-opacity">Gerenciamento de Restaurantes</p>
            <p>Easyassist é um sistema para restaurante, bar e lanchonete que  garante mais agilidade na hora de vender e produzir.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p><a class="w3-button w3-light-grey w3-block" href="https://easyassist.com.br/" target="_blank"><i class="fa fa-link"></i> Visite o site</a></p>
        </div>
      </div>
      <div class="card">
        <img src="/static/img/varejofacil.png" style="width: 100%;" height="300px" class="card-img-top" alt="...">
        <div class="card-body">
          <h3>VarejoFacil</h3>
          <p class="w3-opacity">Gerenciamento de Estoque</p>
          <p> O Varejofacil é um sistema de gestão online com tudo o que você precisa para administrar sua empresa de qualquer lugar. </p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p><a class="w3-button w3-light-grey w3-block" href="https://varejofacil.com/" target="_blank"><i class="fa fa-link"></i> Visite o site</a></p>
        </div>
      </div>
      <div class="card">
          <img src="/static/img/acs.jpg" style="width: 100%;" height="300px" class="card-img-top" alt="...">
          <div class="card-body">
            <h3>ACS Automação</h3>
            <p class="w3-opacity">Monitoramento/Automação de postos</p>
            <p>O ACS Síntese é um sistema de automação de postos de combustível e lojas de conveniências, desenvolvido em conjunto com empresários do ramo para atender as necessidades específicas desse setor com segurança e praticidade.</p>
            <br>
            <br>
            <p ><a class="w3-button w3-light-grey w3-block" href="http://www.acssoft.com.br/" target="_blank"><i class="fa fa-link"></i> Visite o site</a></p>
          </div>
        </div>
    </div>
</div>
</div>
<!-- About -->
<div class="w3-container" style="padding:128px 16px" id="sobre">
  <div class="w3-row">
  
  <div class="w3-half w3-padding-large w3-hide-small">

    <div id="carouselExampleSlidesOnly" class="carousel slide w3-round w3-image w3-opacity-min active w3-center w3-jumbo w3-hide-small" alt="Table" style="width:100%" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../static/img/11.jpeg" class="d-block w-100 carousel" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../static/img/12.jpeg" class="d-block w-100 carousel" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../static/img/13.jpeg" class="d-block w-100 carousel" alt="...">
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="w3-half w3-padding-large">
  <h1 class="w3-center w3-jumbo w3-hide-small">Mr.Soft Sistemas</h1><br>

  <p class="w3-large">
    Estamos há mais de 10 anos no mercado e contamos com profissionais dedicados ao sucesso
    de nossos clientes.</p>
  <p class="w3-large w3-text-grey w3-hide-medium">
    Seja no segmento de Varejo, Food Service ou Postos de Combustíveis,
    contribuimos com tecnologias acessíveis para melhorar a eficiência e gestão de pequenas
    e médias empresas do estado do Piauí e parte do Maranhão.</p>
  </div>
  
  </div>


</div>


<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

      

    <!-- Image of location/map -->
    <div style="overflow:hidden;width: 1235px;position: relative;"><iframe width="1235" height="440" src="https://maps.google.com/maps?width=1235&amp;height=440&amp;hl=en&amp;q=Av.%20Joaquim%20Nelson%2C%203585%20-%20Redonda%2C%20Teresina%20-%20PI%2C%2064076-800+(Edif%C3%ADcio%20Adelaide%20de%20Freitas)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="https://embedgooglemaps.com/it/">embedgooglemaps IT</a> & <a href="https://xn--casinoutanspelgrnser-qzb.nu/">casino utan gränser</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <div style="margin-top:48px">
    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Avenida Joaquim Nelson, 3585 - Edifício Adelaide, Parque Ideal - Teresina-PI.</p>
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Telefone/Whatsapp: +55 8698877-6655</p>
    <p><i class="fa fa-edit fa-fw w3-xxlarge w3-margin-right"> </i>Cnpj: 30.306.017/0001-32</p>
    
    <br>

  </div>
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Ir para o topo</a>
  <div class="w3-xlarge w3-section">
    <a class="fa fa-instagram w3-hover-opacity" href="https://www.instagram.com/mrsoftsistemas/" target="_blank"></a>

  </div>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>


</body>
</html>