<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Mr.Soft Sistemas</title>

    <link rel="stylesheet" type="text/css" href=" https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="static/css/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <div class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
          <a href="#home" class="w3-bar-item w3-button">MrSoft</a>
          <!-- Right-sided navbar links. Hide them on small screens -->
          <div class="w3-right w3-hide-small">
            <a href="{{url_for('homepage')}}">Inicio</a>
            <a href="{{url_for('produtos')}}">Produtos</a>
            <a href="{{url_for('contato')}}">Contato</a>
            <a href="{{url_for('sobre')}}">Sobre</a>
          </div>
        </div>
      </div>
      

    <!----
    <div class="j1">
        <ul class="nav">
            <li><a href="{{url_for('homepage')}}">Inicio</a></li>
            <li><a href="{{url_for('produtos')}}">Produtos</a></li>
            <li><a href="{{url_for('contato')}}">Contato</a></li>
            <li><a href="{{url_for('sobre')}}">Sobre</a></li>
        </ul>
    </div>
    ---->




</body>
</html>