<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saiba sobre nós</title>
    <link rel="stylesheet" type="text/css" href="static/css/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
<body>

    <div class="container">

      <div class="j1">
          <ul class="nav">
              <li><a href="{{url_for('homepage')}}">Inicio</a></li>
              <li><a href="{{url_for('produtos')}}">Produtos</a></li>
              <li><a href="{{url_for('contato')}}">Contato</a></li>
              <li><a href="{{url_for('sobre')}}">Sobre</a></li>
          </ul>
      </div>

    </div>

</body>

</html>